<% provide(:title, 'Dashboard') %>
<h1>Expenses Dashboard</h1>

<%= link_to 'Add a new expense', new_expense_path %>
<table>
  <thead>
    <tr class="row-titles">
      <th>Name</th>
      <th>Amount</th>
      <th>Description</th>
    </tr>
  </thead>

  <% if @expenses %>
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.name %></td>
          <td><%= format_dollars(expense.amount) %></td>
          <td><%= expense.description %></td>
          <td><%= link_to 'Details', expense %></td>
          <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
          <td><%= link_to 'Delete', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <% else %>
    </table>
    <div>You have no expenses recorded.  <%= link_to 'Add a new expense', new_expense_path %>.</div>
  <% end %>
  