<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> Prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :tab_id %>
    <%= f.text_field :tab_id %>
  </div>
  <% if @tabs %>
    <div class="select-list">
      <%= f.select(:tab_id, tab_select_list_array) %>
    </div>
  <% else %>
    <p>You have to active tabs to which you can add this expense. 
        <%= link_to 'Create a new tab here', new_tab_path %>.</p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>