<h1>Expenses Details</h1>

<p>
  <strong>Expense Name:</strong>
  <%= @expense.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= format_dollars_cents(@expense.amount) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %>
<%= link_to 'Delete', @expense, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Dashboard', {controller: :dashboard} %>